# Node modules
node_modules/

# Environment variables

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock



# Coverage directory used by testing tools
coverage/

# Build / dist folders
dist/
build/


# Optional: lock files (if not using lock-based installs)
package-lock.json
yarn.lock
pnpm-lock.yaml
